body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Roboto';
}

.empty-space {
    flex: 1;
}

.container-one {
    background-color: #1F2937;
    height: 500px;

    display: flex;
}


.header-container {
    height: 70px;

    flex: 4;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 900;
}


.links {
    width: 500px;
    padding: 10px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
    font-family: 'Roboto';

    padding-left: 20px;
}

.info {
    padding-top: 100px;
    padding-bottom: 100px;
}

.info-header {
    color: #F9FAF8;
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 900;
    
}

.info-text {
    font-family: 'Roboto';

}

.sign-up {
    font-family: 'Roboto';
    
}

.big-image {
    background-color: gray;
}