body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

.side-padding {
    flex: 1;
}

/* Top dark Container with headers */
.top-container {
    background-color: #1F2937;
    height: 550px;

    display: flex;
}

.content-container {
    flex: 5;

    display: flex;
    flex-direction: column;
}

/*-- Header Container with Logo and links --*/
.header-container {
    flex: 1;
    min-height: 70px;

    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 900;
}


.links-container {
    flex: 0 0 auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    text-decoration: none;

    padding-left: 20px;

}

.sub-header-container {
    flex: 9;

    display: flex;
}

.left-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-sub-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.top-sub-text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-button {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882F6;

    width: 120px;
    height: 40px;
    border: none;
    border-radius: 11px;
    margin-top: 15px;

    cursor: pointer;
}

.right-container {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-sub-image-container {
    background-color: rgb(112, 114, 122);
    width: 100%;
    aspect-ratio: 7/3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    color: #F9FAF8;
    font-size: 18px;
}

/*-- Information container --*/
#info-container {
    height: 500px;
    display: flex;
}


.info-head-text {
    color: #1F2937;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 36px;
    font-weight: 900;

    margin: 45px;
    align-self: center;
    
}

#info-content {
    height: 100%;
    padding-bottom: 50px;

    gap: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.single-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-images {
    height: 200px;
    width: 200px;

    border: 5px solid #3882F6;
    border-radius: 20px;
}

.info-image-text {
    color: #1f2937;
    font-size: 18px;

    width: 200px;
    margin-top: 5px;

    text-align: center;
}

/*Quote Box*/
#quote-container {
    background-color: #E5e7eb;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

#author-text {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
    align-self: flex-end;
}

/*Sign up Box*/
#sign-container {
    height: 300px;
    display: flex;
    flex-direction: row;
}

/*Footer Box*/
footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    flex-direction: row;

    display: flex;
}

footer .content-container {
    justify-content: center;
}

footer p {
    color: #E5E7EB;
    font-size: 18px;
    align-self: center;
}